<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
  <div class="container-xxl d-flex h-100">
 
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>
    <!-- Clientes -->
    <li class="menu-item">
      <a href="/cliente" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user-check"></i>
        <div data-i18n="Clientes">Clientes</div>
      </a>
    </li>
    <!-- Oportunidades -->
    <li class="menu-item">
      <a href="/oportunidad" class="menu-link">
        <i class="menu-icon tf-icons bx bx-dollar"></i>
        <div data-i18n="Oportunidades">Oportunidades</div>
      </a>
    </li>
    <!-- Seguimiento -->
    <li class="menu-item">
      <a href="/seguimiento" class="menu-link">
        <i class="menu-icon tf-icons bx bx-task"></i>
        <div data-i18n="Seguimiento">Seguimiento</div>
      </a>
    </li>
    <!-- Marketing -->
    <li class="menu-item">
      <a href="/marketing" class="menu-link">
        <i class="menu-icon tf-icons bx bx-package"></i>
        <div data-i18n="Marketing">Marketing</div>
      </a>
    </li>
    <!-- Reportes -->
    <li class="menu-item">
      <a href="/reporte" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chart"></i>
        <div data-i18n="Reportes">Reportes</div>
      </a>
    </li>
  </ul>
  </div>
</aside>