<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="../assets/" data-template="vertical-menu-template-no-customizer">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Sales Plus CRM - {{title}}</title>
  <meta name="description" content="" />
  {{#if login}}
  {{>loginhead}}
  {{/if}}
  {{#if main}}
  {{>mainhead}}
  {{/if}}
  <link rel="stylesheet" href="../assets/vendor/libs/toastr/toastr.css" />
  <link rel="stylesheet" href="../assets/vendor/libs/animate-css/animate.css" />
</head>

<body>
  {{>toast}}
  {{#if login}}
  {{>bodylogin}}
  {{/if}}
  {{#if main}}
  {{>bodymain}}
  {{/if}}
  {{#if login}}
  {{>loginscripts}}
  {{/if}}
  {{#if main}}
  {{>mainscripts}}
  {{/if}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
  <script src="https://salesplusapi.danielbarbosa34.repl.co/socket.io/socket.io.js"></script>
  <script src="../../js/socket.js"></script>
  <script src="../assets/vendor/libs/toastr/toastr.js"></script>
  <script src="../../js/toast.js"></script>
  <script src="../../js/{{script}}"></script>

</body>

</html>