<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h3 class="card-header">Clientes</h3>
                <div class="card-datatable table-responsive">
                    <table class="dt-cliente table border-top">
                        <thead>
                            <tr>
                                <th class='col-2'>Empresa</th>
                                <th class='col-2'>Nombre Contacto</th>
                                <th class='col-1'>Contacto</th>
                                <th class='col-2'>Fuente</th>
                                <th class='col-2'>Estatus</th>
                                <th class='col-1'>Oportunidades</th>
                                <th class='col-1'>Vendedor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
