<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-8">
            <div class="card-body">
              <h6 class="card-title mb-1 text-nowrap">Felicidades Hugo!</h6>
              <small class="d-block mb-3 text-nowrap">Hasta el día de hoy llevas</small>
              <h5 class="card-title text-primary mb-1">$48.9k</h5>
              <small class="d-block mb-4 pb-1 text-muted">78% de tú meta</small>

              <a href="javascript:;" class="btn btn-sm btn-primary">Ver Ventas</a>
            </div>
          </div>
          <div class="col-4 pt-4 ps-0">
            <img src="../../assets/img/illustrations/prize-light.png" width="90" height="140" class="rounded-start"
              alt="View Sales" />
          </div>
        </div>
      </div>
    </div>
    <!-- New Visitors & Activity -->
    <div class="col-lg-8 mb-4">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-lg-3 col-md-12 pt-2 pb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <i class="fas fa-temperature-low fa-2x text-info"></i>
                </div>
                <span class="fw-semibold d-block mb-1">Frias</span>
                <h4 class="card-title text-info">$ 25 KMXN</h4>
                <small class="fw-semibold">134 Oportunidades Frias</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 pt-2 pb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <i class="fas fa-temperature-high fa-2x text-warning"></i>
                </div>
                <span class="fw-semibold d-block mb-1">Calientes</span>
                <h4 class="card-title text-warning">$ 20 KMXN</h4>
                <small class="fw-semibold">10 Oportunidades Calientes</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 pt-2 pb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <i class="fa fa-hand-holding-dollar fa-2x text-success"></i>
                </div>
                <span class="fw-semibold d-block mb-1">Ganadas</span>
                <h4 class="card-title text-success">$ 25 KMXN</h4>
                <small class="fw-semibold">10 Oportunidades Ganadas</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 pt-2 pb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <i class="fa fa-circle-xmark fa-2x text-danger"></i>
                </div>
                <span class="fw-semibold d-block mb-1">Perdidas</span>
                <h4 class="card-title text-danger">$ 15 KMXN</h4>
                <small class="fw-semibold">5 Oportunidades perdidas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Overview & Sales Activity -->
    <div class="col-md-3 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Ventas Semanales</h5>
          <small class="card-subtitle"></small>
        </div>
        <div id="salesActivityChart"></div>
      </div>
    </div>
    <!--/ Overview & Sales Activity -->
    <!-- Sales Stats -->
    <div class="col-md-3 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between mb-30">
          <h5 class="card-title m-0 me-2">Conversion a Ventas</h5>
          <div class="dropdown">
            <button class="btn p-0" type="button" id="salesStatsID" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="bx bx-dots-vertical-rounded"></i>
            </button>
          </div>
        </div>
        <div id="salesStats"></div>
        <div class="card-body">
          <div class="d-flex justify-content-around">
            <div class="d-flex align-items-center lh-1 mb-3 mb-sm-0">
              <span class="badge badge-dot bg-success me-2"></span>
              % de Conversion
            </div>
            <div class="d-flex align-items-center lh-1 mb-3 mb-sm-0">
              <span class="badge badge-dot bg-label-secondary me-2"></span>
              Cotizaciones Presentadas
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Clientes -->
    <div class="col-md-3 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">Contactos</h5>
            <small class="text-muted">183 Contactos</small>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex flex-column align-items-center gap-1">
              <h2 class="mb-2">183</h2>
              <span>Contactos</span>
            </div>
            <div id="cliChart"></div>
          </div>
          <ul class="p-0 m-0">
            <li class="d-flex mb-4 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-secondary"><i class="fas fa-2x fa-temperature-empty"></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Contacto no Interesado</h6>
                </div>
                <div class="user-progress">
                  <small class="fw-semibold">45</small>
                </div>
              </div>
            </li>
            <li class="d-flex mb-4 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-info"><i class="fas fa-2x fa-temperature-quarter"></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Prospecto poco interesado</h6>
                </div>
                <div class="user-progress">
                  <small class="fw-semibold">58</small>
                </div>
              </div>
            </li>
            <li class="d-flex mb-4 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-warning"><i class="fas fa-2x fa-temperature-half"></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Prospecto interesado</h6>
                </div>
                <div class="user-progress">
                  <small class="fw-semibold">30</small>
                </div>
              </div>
            </li>
            <li class="d-flex">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-danger"><i class="fas fa-2x fa-temperature-full"></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Cliente</h6>
                </div>
                <div class="user-progress">
                  <small class="fw-semibold">50</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Seguimiento</h5>
        </div>
        <div class="card-body">
          <!-- Activity Timeline -->
          <ul class="timeline">
            <li class="timeline-item timeline-item-transparent">
              <span class="timeline-point timeline-point-primary"></span>
              <div class="timeline-event">
                <div class="timeline-header mb-1">
                  <h6 class="mb-0"><i class="fas fa-phone"></i> Llamar al Contacto</h6>
                  <small class="text-muted">en 1 Mes</small>
                </div>
                <p class="mb-2">Llamar al contacto de la compañia</p>
              </div>
            </li>
            <li class="timeline-item timeline-item-transparent">
              <span class="timeline-point timeline-point-success"></span>
              <div class="timeline-event">
                <div class="timeline-header mb-1">
                  <h6 class="mb-0"><i class="fas fa-calendar"></i> Visitar al Cliente</h6>
                  <small class="text-muted">Realizada</small>
                </div>
                <p class="mb-2">Reunion en sus oficinas</p>
              </div>
            </li>
            <li class="timeline-item timeline-item-transparent">
              <span class="timeline-point timeline-point-danger"></span>
              <div class="timeline-event pb-0">
                <div class="timeline-header mb-1">
                  <h6 class="mb-0 text-danger"><i class="fas fa-envelope"></i> Enviar Correo</h6>
                  <small class="text-danger">Hace 5 días </small>
                </div>
                <p class="mb-2text-danger">Enviar el correo con las cotizaciones</p>
              </div>
            </li>
            <li class="timeline-end-indicator">
              <i class="bx bx-check-circle"></i>
            </li>
          </ul>
          <!-- /Activity Timeline -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Customer Table -->
    <div class="col-md-12 col-lg-12 mb-0">
      <div class="card">
        <div class="card-datatable table-responsive">
          <table class="invoice-list-table table border-top">
            <thead>
              <tr>
                <th>Campaña</th>
                <th>Enviada</th>
                <th>Estado</th>
                <th class="cell-fit"></th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr>
                <td>
                  Dia de las Madres
                </td>
                <td> 34 Clientes </td>
                <td><span class="badge bg-label-success"> Activa </span></td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a href="javascript:;" class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Dia del Niño
                </td>
                <td> 50 Clientes </td>
                <td><span class="badge bg-label-primary"> Terminada </span></td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a href="javascript:;" class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Dia del padre
                </td>
                <td> 50 Clientes </td>
                <td><span class="badge bg-label-danger"> Inactiva </span></td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a href="javascript:;" class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Navidad
                </td>
                <td> 50 Clientes </td>
                <td><span class="badge bg-label-secondary">
                    Por Comenzar
                  </span></td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a href="javascript:;" class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Customer Table -->
  </div>
</div>
<script>
  $(document).ready(function () {
    $('<script/>', {
      type: 'text/javascript', src:
        '../../assets/js/dashboards-crm.js'
    }).appendTo('html');
  });
</script>