<div class="authentication-inner">
    <!-- Register Card -->
    <div class="card">
        <div class="card-body">
            <!-- Logo -->
            <!-- Logo -->
            <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                    <span class="app-brand-logo demo">
                        <img src="/img/logo/logo.png" width="200" alt="">
                    </span>
                </a>
            </div>
            <!-- /Logo -->
            <!-- /Logo -->
            <h5 class="mb-2">¡Lleva tus ventas al siguiente nivel! 🚀</h5>
            <p class="mb-4">Crea tu cuenta</p>

            <form id="formAuthentication" class="mb-3">
                <div class="mb-3">
                    <label for="nombrecompleto" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="nombrecompleto" name="nombrecompleto"
                        placeholder="Escribe tu nombre completo" autofocus required />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Escribe tu correo"
                        required />
                </div>
                <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password">Contraseña</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" class="form-control" name="password"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                            aria-describedby="password" required onkeyup="validate_password()"/>
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="confirmpassword">Confirma Contraseña</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="confirmpassword" class="form-control" name="confirmpassword"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                            aria-describedby="confirmpassword" required onkeyup="validate_password()"/>
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <ul id="pass_alert"></ul>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="terms" name="terms"
                            oninput="this.setCustomValidity('')"
                            oninvalid="this.setCustomValidity('Acepta las políticas, clausulas, términos y condiciones')"
                            required />
                        <label class="form-check-label" for="terms">
                            Estoy de acuerdo con las
                            <a href="#" data-bs-toggle="modal" data-bs-target="#politicas">Políticas</a>,
                            <a href="#" data-bs-toggle="modal" data-bs-target="#datos">Cláusulas de Protección de
                                Datos</a>,
                            <a href="#" data-bs-toggle="modal" data-bs-target="#terminos">Términos y Condiciones</a>
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary d-grid w-100" type="button" id="crear">Crear</button>
            </form>

            <p class="text-center">
                <span>¿Tienes una cuenta? </span>
                <a href="/">
                    <span>Log in</span>
                </a>
            </p>
        </div>
    </div>
    <!-- Register Card -->
</div>